$myGreen:    #50c35d !default;
$myYellow:   #dda448 !default;
$myBlue:     #100080 !default;
$myWhite:    #efece6 !default;
$myLightblue: #9799ca !default;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';